form > * {
    display: block;
}
label {
    margin: 0;
}
td {
    padding: 0.5rem;
    text-align: start;
}
td:first-child {
    text-align: end;
}
td:last-child {
    width: 15em;
}
td[colspan] {
    text-align: center;
}
input[type="checkbox"], input[type="submit"] {
    width: auto;
}
input[type="number"] {
    width: 3rem;
}
input[name="act"] {
    margin: auto 0.4rem;
}
#goal-img, #more {
    width: auto;
    vertical-align: middle;
}
#more {
    display: block; 
    cursor: pointer;
    margin-top: 0.4rem;
}
.checklabel {
    display: flex;
    border-bottom: none;
    color: #EFDBA8;
    font-variant: normal;
    font-weight: initial;
    align-items: center;
}

.checklabel > input{
    margin: 5px;
}