form > * {
    display: block;
}
label {
    margin: 0;
}
td {
    padding: 0.5rem;
    text-align: start;
}
td:first-child {
    text-align: end;
}
td:last-child {
    width: 15em;
}
td[colspan] {
    text-align: center;
}
input[type="checkbox"], input[type="submit"] {
    width: auto;
}
input[type="number"] {
    width: 3rem;
}
input[type="submit"] {
    margin: auto 0.4rem;
}
#goal-img, #more {
    width: auto;
    vertical-align: middle;
}
#more {
    display: block; 
    cursor: pointer;
    margin-top: 0.4rem;
}
input, textarea {
    color: #3B3249;
    border: 1px solid #EFDBA8;
    background-image: url("https://bbh.fred26.fr/gfx/design/form_field.jpg");
    background-position: 0px -8px;
    background-color: #AA9961;
    outline: 1px solid #5C2B20;
    box-sizing: border-box;
}
input:disabled {
    background: grey url(https://myhordes.eu/build/images/assets/img/background/bg_button_grey.3647fed8..gif) round;
    border: 1px solid grey;
    color: #f0d79e;
}

*:disabled {
    cursor: not-allowed !important;
}
.checklabel {
    display: flex;
    border-bottom: none;
    color: #EFDBA8;
    font-variant: normal;
    font-weight: initial;
    align-items: center;
}

.checklabel > input{
    margin: 5px;
}