
th {
    font-variant: small-caps;
    background: #0006;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.item:hover {
    background-color: #0002;
}

td:first-child {
    text-align: left;
}

.id_found {
    background-color: #F902;
}

table > caption {
    text-align: start;
    font-style: italic;
    font-size: 90%;
    margin: 0.5rem;
}

.sortable th span {
    display: none;
}

.sortable td select {
    max-width: 8em;
}

.chlg-name {
    margin: 0 1em;
}

th img {
    margin-bottom: -1px;
}