section {
    text-align: inherit;
    width: 80%;
    margin-top: 2em;
}

button {
    padding: 2px 4px;
}
section button {
    position: absolute;
    font-size: 1.2em;
    transform: translateY(-100%);
}
h2 {
    margin: 0 80px;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #7e4d2a;
    padding: 0.5em;
    border-radius: 0.5em;
    width: fit-content;
}
.timeline {
    list-style: none;
    margin: 0 0 0 120px;
    padding-left: 30px;
    border-left: 8px solid #7e4d2a;
    padding-top: 0.1em;
}
.timeline li {
    margin: 0 0 40px 0;
    padding-left: 20px;
    position: relative;
}
.timeline p {
    margin: 0 0 15px;
}
div.timeline {
    padding: 1em;
}
.date {
    margin-top: -18px;
    top: 50%;
    left: -173px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    align-items: center;
}
.circle {
    margin-top: -33px;
    top: 50%;
    left: -69px;
    width: 60px;
    height: 60px;
    border: 5px solid #7e4d2a;
    border-radius: 50%;
    display: block;
    position: absolute;
}
.content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
    display: flex;
}
.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.content:after {
    border-right-color: #5C2B20;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.content > * {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
.content > table {
    flex: auto;
}
.recap{
    font-size: 1.3em;
    position: absolute;
    margin: 0;
    z-index: 100;
    top: 25px;
    -webkit-transition: -webkit-transform 0.2s linear;
}
.radio {
    display: none;
}
.radio:checked + .relative .recap{
    cursor: auto;
    -webkit-transform: translateX(42px);
}
.radio:checked ~ .content {
    max-height: none;
    border-color: #7e4d2a;
    margin-right: 20px;
    -webkit-transform: translateX(20px);
    -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
}
.radio:checked ~ .content > * {
    max-height: 400px;
    color: #eee9dc;
    -webkit-transition: color 0.3s linear 0.3s;
    -webkit-transition: opacity 0.3s linear 0.3s;
    font-family: monospace;
    padding: 1em;
    overflow: scroll;
    opacity: 1;
    visibility: visible;
    text-align: left;
}

.name {
    margin-right: 1em;
}

.goal {
    font-size: medium;
}

span.utcdate {
    display: inline-grid;
}

ul {
    display: none;
}