<link rel="stylesheet" href="/style/top-bar.css">
<div id="top-bar">
    <a href="/">@@{home}</a>
    {{ if .logged }}
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="@@{update}" style="font-size:1rem">
        <input type="hidden" name="redirect">
        <script>document.getElementsByName("redirect").item(0).value=window.location.href</script>
    </form>
    <a href="/challenge">@@{create-challenge}</a>
    <a href="/user">@@{profile}</a>
    <a href="/validation">@@{validations}</a>
    <a href="/milestone">@@{milestones}</a>
    <a href="/logout">@@{logout}</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">@@{login}</a>
    {{ end }}
</div>
<table class="meta-actions">
    <tr>
        <td><a class="chlg-name" href="https://myhordes.eu/jx/soul/1251">@@{mh-contact}</a></td>
        <td rowspan="2" class="dropdown">
            <img src="/gear.svg">
            <form onformdata="event.formData.set('source', window.location.href)" method="post" action="/settings">
                <table>
                    <tr>
                        <td><input type="submit" name="lang" value="🇫🇷"></td>
                        <td><input type="submit" name="lang" value="🇬🇧"></td>
                        <td><input type="submit" name="lang" value="🇪🇸"></td>
                        <td><input type="submit" name="lang" value="🇩🇪"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label for="faq">@@{enable-faq}</label>
                            <input id=faq type="checkbox" name="faq" value=1 onchange="$(this).closest('form').trigger('submit');" {{ if .faq }}checked{{ end }}>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td><a class="chlg-name" href="mailto:bhordesgames@alwaysdata.net">@@{email}</a></td>
        <td></td>
    </tr>
</table>
