<style>
    #top-bar {
        margin-bottom: 4em;
    }

    #top-bar > * {
        margin: 0 4px 0 4px;
        display: inline-block;
    }
</style>
<div id="top-bar">
    <a href="/">@@{home}</a>
    {{ if .logged }}
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="@@{update}" style="font-size:1rem">
        <input type="hidden" name="redirect">
        <script>document.getElementsByName("redirect").item(0).value=window.location.href</script>
    </form>
    <a href="/challenge">@@{create-challenge}</a>
    <a href="/user">@@{profile}</a>
    <a href="/validation">@@{validations}</a>
    <a href="/milestone">@@{milestones}</a>
    <a href="/logout">@@{logout}</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">@@{login}</a>
    {{ end }}
</div>
<style>
    .meta-actions form {
        padding: 0.4em;
        border: solid #ddab76 1px;
        display: none;
        position: absolute;
        right: 0;
        background-color: #371a13;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .meta-actions [colspan] {
        white-space: nowrap;
    }

    .meta-actions .dropdown:hover form {
        display: block;
    }

    .meta-actions {
        position: absolute;
        right: 0;
        top: 0;
    }

    .meta-actions > tbody > tr > td {
        padding: 0px;
        border: none;
        text-align: end;
        width: auto;
    }

    .meta-actions .chlg-name {
        font-size: 80%;
        margin-right: 8px;
    }

    img[src="/gear.svg"] {
        height: 1.6em;
        vertical-align: middle;
    }

    .meta-actions table td {
        text-align: initial;
    }
</style>
<table class="meta-actions">
    <tr>
        <td><a class="chlg-name" href="https://myhordes.eu/jx/soul/1251">@@{mh-contact}</a></td>
        <td rowspan="2" class="dropdown">
            <img src="/gear.svg">
            <form onformdata="event.formData.set('source', window.location.href)" method="post" action="/settings">
                <table>
                    <tr>
                        <td><input type="submit" name="lang" value="🇫🇷"></td>
                        <td><input type="submit" name="lang" value="🇬🇧"></td>
                        <td><input type="submit" name="lang" value="🇪🇸" disabled></td>
                        <td><input type="submit" name="lang" value="🇩🇪" disabled></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label for="faq">@@{enable-faq}</label>
                            <input id=faq type="checkbox" name="faq" value=1 onchange="$(this).closest('form').trigger('submit');" {{ if .faq }}checked{{ end }}>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    <tr>
        <td><a class="chlg-name" href="mailto:bhordesgames@alwaysdata.net">@@{email}</a></td>
        <td></td>
    </tr>
</table>
