<table class="sortable">
    <tr>
        <td></td>
        <td></td>
        <td>
            <select>
                <option>*</option>
                {{ $access := getAccess "@@{ISO639-1}" }}
                {{ range $a := $access }}
                <option>{{ $a }}</option>
                {{ end }}
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                <option>@@{yes}</option>
                <option>@@{no}</option>
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                {{ $status := getStatus "@@{ISO639-1}" }}
                {{ range $s := $status }}
                <option>{{ $s }}</option>
                {{ end }}
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>@@{creator}</th>
        <th class="sorttable_alpha">@@{challenge}</th>
        <th>@@{access}</th>
        <th>@@{private}</th>
        <th>@@{status}</th>
        <th>@@{registered}</th>
        <th>@@{start}</th>
        <th>@@{end}</th>
    </tr>
    {{ range $challdata := . }}
    <tr class="item">
        <!-- debug roles du title en anglais -->
        <td sorttable_customkey="{{ $challdata.Creator.SimplifiedName }}" title="{{ $roles := getRoles "@@{ISO639-1}" }}{{ range $r := $challdata.Role }}{{ index $roles $r }} {{ end }}">
            <a href="/user/{{ $challdata.Creator.ID }}">
            <img class="avatar" src="{{ $challdata.Creator.Avatar.String }}">
            <span class="name">{{ $challdata.Creator.Name }}</span>
            </a>
        </td>
        <td><a class="chlg-name" href="/challenge/{{ .ID }}">{{ $challdata.Name }}</a></td>
        <td sorttable_customkey="{{ $challdata.Access }}" title="{{ index $access $challdata.Access }}"><img data-access="{{ $challdata.Access }}" /></td>
        <td>{{ if $challdata.Private }}<img title=@@{yes} private />{{ else }}<span title=@@{no}>@@{no}</span>{{ end }}</td>
        <td sorttable_customkey="{{ $challdata.Status }}" title="{{ index $status $challdata.Status }}"><img data-status="{{ $challdata.Status }}" /></td>
        <td>{{ $challdata.ParticipantCount }}</td>
        <td {{ if $challdata.StartDate.Valid }}sorttable_customkey="{{ $challdata.StartDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
        <td {{ if $challdata.EndDate.Valid }}sorttable_customkey="{{ $challdata.EndDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
    </tr>
    {{ end }}
</table>
