
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <title>β'Hordes Games</title>
    <script>
      const labels = [];
      const labelsImg = [];
      let imgs = [];
      const dataset = [];
      function intToColor(num, alpha) {
        const hue = (num * 77) % 360;
        return `hsl(${hue},70%,50%,${alpha})`;
      }
      function toggleCheckbox(event, el) {
        const input = el.getElementsByTagName('input')[0];
        if(event.target != input) {
          input.checked ^= 1;
          refreshData();
        }
      }
      function refreshData() {
        $('#myChart').parent().css('min-width', userScale.filter(':checked').length * goalScale.filter(':checked').length * 40)
        myChart.data.datasets = structuredClone(dataset.filter((v,i) => userScale[i].checked));
        myChart.data.labels = labels.filter((v,i) => goalScale[i].checked);
        myChart.data.datasets.forEach(d => d.data = d.data.filter((v,i) => goalScale[i].checked));
        imgs = labelsImg.filter((v,i) => goalScale[i].checked);
        myChart.update();
      }
      function switchSelection(el) {
        $(el).closest('table').find('input[type=checkbox]').each((i,e) => e.checked ^= 1);
        refreshData();
      }
    </script>
    <style>
      h2 ~ div {
        display: flex;
        gap: 1em;
      }
      #goalScale, #userScale {
        display: block;
      }
      td[colspan] {
        text-align: center;
      }
      #myChart {
        flex-grow: 1;
        overflow: auto;
        height: 80vh;
      }
    </style>
</head>
<body>
    {{ template "@@{ISO639-1}_top-bar.html" . }}
    <h2>{{ "name" }}</h2>
    <div>
      <table id="goalScale">
        {{ $userkey := .userkey }}
        {{ $goalHeaders := mkmap }}
        <tr><th colspan="2">@@{goals}</th></tr>
        {{ range $goal := .goals }}
        <tr onclick="toggleCheckbox(event, this)">
            {{ $mm := decodeGoal $userkey "@@{ISO639-1}" $goal $goalHeaders false }}
            {{ $goalHeader := index $goalHeaders $goal.ID }}
            <script>
              labels.push(["", "{{ $goalHeader.Content }}"]);
              labelsImg.push("{{ $mm.Icon }}");
            </script>
            <td title="{{$mm.Text}} {{$mm.Label}}">{{ $goalHeader.Content }}<img src="https://myhordes.eu/build/images/{{ $mm.Icon }}"></td>
            <td>
              <input type="checkbox" onchange="refreshData()" checked>
            </td>
        </tr>
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <table id="userScale">
        <tr><th colspan="2">@@{participant}</th></tr>
        {{ range $partic := .advancement }}
        <tr onclick="toggleCheckbox(event, this)">
          <td sorttable_customkey="{{ $partic.SimplifiedName }}">
            <img class="avatar" src="{{ $partic.Avatar.String }}">
            <span class="name">{{ $partic.Name }}</span>
          </td>
          <td>
            <input type="checkbox" onchange="refreshData()" checked>
            <script>
              dataset.push({
                label: "{{ $partic.Name }}",
                data:[
                  {{ range $gid, $_ := $goalHeaders }}
                    {{ $s := index $partic.Successes $gid }}
                    {{ $s.Amount }},
                  {{ end }}
                ],
                backgroundColor: intToColor(dataset.length, 0.3), // Couleur de la ligne
                borderWidth: 1, // Épaisseur normale de la ligne
                borderColor: intToColor(dataset.length, 1),
                });
              (function(){
                const td = $(document.currentScript.parentElement);
                const idx = dataset.length-1;
                td.css('background-color', dataset[idx].borderColor);
                td.parent().hover(e => {                    
                  const d = myChart.data.datasets.find(v => v.label === dataset[idx].label);
                  if(d) {
                    d.borderWidth = e.type === 'mouseenter' ? 2 : 1;
                    myChart.update();
                  }
                })
              })()
            </script>
          </td>
        </tr>
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <div id="myChart">
        <canvas></canvas>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const params = new URLSearchParams(window.location.search);
      const myChart = new Chart(document.getElementById('myChart').children[0], {
        type: params.get('type'),
        plugins: [{
          afterDraw: chart => {
              var ctx = chart.ctx;
              var xAxis = chart.scales.x;
              var yAxis = chart.scales.y;
              if(xAxis) {
                xAxis.ticks.forEach((value, index) => {
                  if(imgs[index]) {
                    var x = xAxis.getPixelForTick(index);
                    const i = new Image();
                    i.src = "https://myhordes.eu/build/images/"+imgs[index];
                    ctx.drawImage(i, x - 8, yAxis.bottom + 4);
                  }
                });
              }
            }
        }],
        data: {
          labels: [],
          datasets: []
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false
            },
            tooltip: {
              callbacks: {
                  title: o => goalScale.filter(':checked')[o[0].dataIndex].parentElement.parentElement.children[1].title
              }
            },
          },
          scales: {
              r: {
                min: +params.get('min'),
              }
          },
        }
      });
      const goalScale = $('#goalScale input[type=checkbox]');
      const userScale = $('#userScale input[type=checkbox]');
      refreshData();
    </script>
    {{ if .faq }}
    <style>body{margin-bottom: 96px;}</style>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-desc-challenge}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
</html>
