
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <script src="/script/graph_utils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <title>β'Hordes Games</title>
    <style>
      h2 ~ div {
        display: flex;
        gap: 1em;
      }
      #goalScale, #userScale {
        display: block;
      }
      td[colspan] {
        text-align: center;
      }
      #myChart {
        flex-grow: 1;
        text-align: left;
      }
      #myChart > div {
        overflow: auto;
        height: 80vh;
      }
      a.chlg-name:not([href]) {
        color: white;
      }
    </style>
</head>
<body>
    {{ template "@@{ISO639-1}_top-bar.html" . }}
    <h2>{{ "name" }}</h2>
    <div>
      <table id="goalScale">
        {{ $userkey := .userkey }}
        {{ $goalHeaders := mkmap }}
        <tr><th colspan="2">@@{goals}</th></tr>
        {{ range $goal := .goals }}
        <tr onclick="toggleCheckbox(event, this)">
            {{ $mm := decodeGoal $userkey "@@{ISO639-1}" $goal $goalHeaders false }}
            {{ $goalHeader := index $goalHeaders $goal.ID }}
            <script>
              labels.push(["", "{{ $goalHeader.Content }}"]);
              labelsImg.push("{{ $mm.Icon }}");
            </script>
            <td title="{{$mm.Text}} {{$mm.Label}}">{{ $goalHeader.Content }}{{ if $mm.Icon }}<img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ end }}</td>
            <td>
              <input type="checkbox" onchange="refreshData()" checked>
            </td>
        </tr>
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <table id="userScale">
        <tr><th colspan="2">@@{participant}</th></tr>
        {{ range $partic := .advancement }}
        <tr onclick="toggleCheckbox(event, this)">
          <td sorttable_customkey="{{ $partic.SimplifiedName }}">
            <img class="avatar" src="{{ $partic.Avatar.String }}">
            <span class="name">{{ $partic.Name }}</span>
          </td>
          <td>
            <input type="checkbox" onchange="refreshData()" checked>
            <script>
              dataset.push({
                label: "{{ $partic.Name }}",
                data:[
                  {{ range $gid, $_ := $goalHeaders }}
                    {{ $s := index $partic.Successes $gid }}
                    {{ $s.Amount }},
                  {{ end }}
                ],
                backgroundColor: intToColor(dataset.length, 0.3), // Couleur de la ligne
                borderWidth: 1, // Épaisseur normale de la ligne
                borderColor: intToColor(dataset.length, 1),
                });
                bindUserLegend();
            </script>
          </td>
        </tr>
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <div id="myChart">
        <a class="chlg-name" href="?type=bar">Barre</a>
        <a class="chlg-name" href="?type=radar&min=0">Radar</a>
        <a class="chlg-name" href="?type=polarArea">Polaire</a>
        <div><canvas></canvas></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      drawChart();
    </script>
    {{ if .faq }}
    <style>body{margin-bottom: 96px;}</style>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-desc-challenge}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
</html>
