<style>
    #top-bar {
        margin-bottom: 4em;
    }

    #top-bar > * {
        margin: 0 4px 0 4px;
        display: inline-block;
    }
</style>
<div id="top-bar">
    <a href="/">@@{home}</a>
    {{ if .logged }}
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="@@{update}" style="font-size:1rem">
        <input type="hidden" name="redirect">
        <script>document.getElementsByName("redirect").item(0).value=window.location.href</script>
    </form>
    <a href="/challenge">@@{create-challenge}</a>
    <a href="/user">@@{profile}</a>
    <a href="/validation">@@{validations}</a>
    <a href="/logout">@@{logout}</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">@@{login}</a>
    {{ end }}
</div>
<a class="chlg-name" style="position: absolute; right: 0; top: 0; font-size: 80%;" href="https://myhordes.eu/jx/soul/1251">@@{mh-contact}</a>
<a class="chlg-name" style="position: absolute; right: 0; top: 1.5em; font-size: 80%;" href="mailto:bhordesgames@alwaysdata.net">@@{email}</a>
