<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{template "@@{ISO639-1}_top-bar.html" . }}
    {{template "@@{ISO639-1}_challenge-table.html" .challenges }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/table_filter.js"></script>
    {{ if .faq }}
        <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
            new Crate({
                server: '1253836492694880367', // B'Hordes Games
                channel: '@@{discord-main}',
                color: '#371a13',
                glyph: ["/question.svg", "100%"]
            })
        </script>
    {{ end }}
</body>
</html>
