
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/graph.css">
    <script src="/script/sorttable.js"></script>
    <script src="/script/history_utils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "@@{ISO639-1}_top-bar.html" . }}
    <h2>@@{history}</h2>
    <div>
      <table id="goalScale" class="sortable">
        <tr><th colspan="2">@@{goals}</th></tr>
        {{ $userkey := .userkey }}
        {{ $goalHeaders := mkmap }}
        {{ range $goal := .goals }}
        <tr class="item" onclick="toggleCheckbox(event, this)">
            {{ $mm := decodeGoal $userkey "@@{ISO639-1}" $goal $goalHeaders false }}
            {{ $goalHeader := index $goalHeaders $goal.ID }}
            <td title="{{$mm.Text}} {{$mm.Label}}">{{ $goalHeader.Content }}{{ if $mm.Icon }}<img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ end }}</td>
            <td><input type="checkbox" onchange="refreshData()" checked></td>
        </tr>
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <script>const goalScale = $('#goalScale input[type=checkbox]');</script>
      <table id="userScale" class="sortable">
        <tr><th colspan="2">@@{participant}</th></tr>
        {{ $i := 0 }}
        {{ range $partic := .history }}
        <tr class="item" onclick="toggleCheckbox(event, this)" title="{{ $partic.ID }}">
          <td sorttable_customkey="{{ $partic.SimplifiedName }}">
            <img class="avatar" src="{{ $partic.Avatar.String }}">
            <span class="name">{{ $partic.Name }}</span>
          </td>
          <td>
            <input type="checkbox" onchange="refreshData()" checked>
            <script>
              {{ range $gid, $_ := $goalHeaders }}
                {{ $hist := index $partic.History $gid }}
                sat = (dataset.length % goalScale.length) / (goalScale.length-1);
                dataset.push({
                  label: "{{ $partic.Name }}",
                  data:[
                      {{ range $s := $hist }}
                        {x: new Date("{{ $s.Accomplished }}Z"), y:{{ $s.Amount }}},
                      {{ end }}
                    ],
                    backgroundColor: intToColor({{ $i }}, sat, 0.3), // Couleur de la ligne
                    borderColor: intToColor({{ $i }}, sat, 1),
                });
              {{ end }}
              bindUserLegend(document.currentScript.parentElement);
            </script>
          </td>
        </tr>
        {{ $i = incr $i}}
        {{ end }}
        <tr><td colspan="2"><button onclick="switchSelection(this)">@@{reverse-selection}</button></td></tr>
      </table>
      <div id="myChart">
        <div><canvas></canvas></div>
      </div>
    </div>
    <script>
      const userScale = $('#userScale input[type=checkbox]');
      const myChartChildren = document.getElementById('myChart').children;
      drawChart();
    </script>
    {{ if .faq }}
    <style>body{margin-bottom: 96px;}</style>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-desc-challenge}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
</html>
