<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/creation.css">
    <script>
        {{ .srvData }}
    </script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "@@{ISO639-1}_top-bar.html" . }}
    <form method="POST" style="width:fit-content">
        <table>
            <tr>
                <td><label>@@{name}</label></td>
                <td><input type="text" name="name" maxlength="64" autocomplete="off" {{ if .challenge }} value="{{ .challenge.Name }}" {{ end }} required/></td>
            </tr>
            <tr>
                <td><label>@@{participation}</label></td>
                <td>
                    <select name="participation">
                        {{ $access := getAccess "@@{ISO639-1}" }}
                        {{ range $index, $access := $access }}
                            <option value="{{ $index }}">{{ $access }}</option>
                        {{ end }}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>@@{visibility}</label></td>
                <td>
                    <select name="privat">
                        <option value="0">@@{public}</option>
                        <option value="1" title="@@{private-desc}">@@{private}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>@@{goals}</label>
                    <br>
                    <button type="button" onclick="document.querySelector('dialog').showModal()">@@{import}</button>
                    <button type="button" onclick="exportGoals(this, '@@{export}', '@@{copied-toast}')">@@{export}</button>
                    <dialog style="text-align: start;">
                        <span>@@{predefined}</span><br>
                        <button type="button" onclick="importSpecificGoal('lucha')">Lucha de los pictos</button>
                        <br><br><br>
                        <span>@@{custom}</span><br>
                        <input onclick="event.stopPropagation()">
                        <button type="button" onclick="loadGoals(this.previousElementSibling.value)">@@{load}</button>
                    </dialog>
                </td>
                <td>
                    <div id="all-goals">
                    </div>
                    <img id="more"/>
                </td>
            </tr>
            <tr>
                <td><label>@@{validation-modes}</label></td>
                <td>
                    <label for="validation_api" class="checklabel"><input type="checkbox" name="validation_api" value="1" id="validation_api" checked/>@@{api}</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ if and .challenge (eq .challenge.Status 1) }}
                    <button type="submit" name="act" value="modify">@@{modify}</button>
                    <button type="submit" name="act" value="open-inscriptions">@@{open-inscriptions}</button>
                    {{ else }}
                    <button type="submit" name="act" value="save">@@{save}</button>
                    <button type="submit" name="act" value="validate">@@{validate}</button>
                    {{ end }}
                </td>
            </tr>
        </table>
    </form>
    {{ if .faq }}
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-create-challenge}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
<script>
    const goalhtml=`{{ template "@@{ISO639-1}_goal.html" }}`;
    let mh_lang=(l=>['de','fr','es'].includes(l)?l:'en')(`@@{ISO639-1}`);
</script>
<script src="/script/make_challenge.js"></script>
<script>
    {{ if .challenge }}
        const goals = [{{ range .goals }}{{ dumpStruct . }},{{ end }}];
        bindFormValues({{ .challenge.Access }}, {{ .challenge.Private }}, goals, {{ .challenge.API }});
        {{ if eq .challenge.Status 1 }}
            $('form table *:not([name=act])').prop('disabled', true);
            $('#more').css('cursor', 'not-allowed').prop('onclick', null).off('click');
        {{ end }}
    {{ else }}
        addAGoal(false);
    {{ end }}
</script>
</html>
