<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
    <style>h2{margin-top: 3em;}</style>
</head>
<body>
    {{template "@@{ISO639-1}_top-bar.html" . }}
    {{ if eq "" .user.Name }}
    <h2>Joueur introuvable</h2>
    {{ else }}
    <table>
        <tr>
            <th>Joueur</th>
            <th>Défis créés</th>
            <th>Participations</th>
        </tr>
        <tr>
            <td><img class="avatar" src="{{ .user.Avatar.String }}"><span class="name">{{ .user.Name }}</span></td>
            <td>{{ .user.CreationCount }}</td>
            <td>{{ .user.ParticipationCount }}</td>
        </tr>
    </table>
    
    <h2>Défis en tant que
        <select id=type>
            <option>*</option>
            {{ $roles := getRoles "fr" }}
            {{ range $r := $roles }}
            <option>{{ $r }}</option>
            {{ end }}
        </select>
    </h2>
    {{template "@@{ISO639-1}_challenge-table.html" .challenges }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/table_filter.js"></script>
    <script>
        (function(){
            const table = $('.sortable');
            const rows = table.find('.item');
            const select = $('#type');
            select.on('change', function(i, e) {
                const val = this.value;
                rows.each(function() {
                    const r = $(this);
                    if(val === '*' || r.children(':first').attr('title').includes(val)) {
                        table.append(r);
                    } else {
                        r.remove();
                    }
                });
            }).val(new URLSearchParams(window.location.search).get('selection') || select.children(':first').val()).trigger('change');
        })()
    </script>
    {{ end }}
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '1254191087883649137',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
</body>
</html>
