
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/recruit.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "@@{ISO639-1}_top-bar.html" . }}
    <h2>{{ .challenge.Name }}</h2>
    <div class="container">
        <a class="box" href="/user/{{ .challenge.Creator.ID }}">
            <div class="line1">@@{by}</div>
            <div class="line2">
                <img class="avatar" src="{{ .challenge.Creator.Avatar.String }}">
                <span class="name">{{ .challenge.Creator.Name }}</span>
            </div>
        </a>
        {{ if .selfChallenge }}
            <form class="box" method="POST" action="{{ .challenge.ID }}/date{{ .ident }}" onformdata="dateToISOGMT(event.formData, 'start_date')">
                <div class="line1">@@{start}</div>
                <input class="line2" name="start_date" step="60" type="datetime-local" style="margin:0.5em"/>
                <button type="submit" name="validation" value="validate">@@{validate}</button>
            </form>
            <form class="box" method="POST" action="{{ .challenge.ID }}/date{{ .ident }}" onformdata="dateToISOGMT(event.formData, 'end_date')">
                <div class="line1">@@{end}</div>
                <input class="line2" name="end_date" step="60" type="datetime-local" required style="margin:0.5em"/>
                <button type="submit" name="validation" value="validate">@@{validate}</button>
            </form>
        {{ else }}
            {{ if .challenge.StartDate.Valid }}
                <div class="box">
                    <div class="line1">@@{start}</div>
                    <p></p>
                    {{ if lt .challenge.Status 3 }}
                        <span class="time-remaining"></span>
                    {{ end }}
                </div>
            {{ end }}
            {{ if .challenge.EndDate.Valid }}
                <div class="box">
                    <div class="line1">@@{end}</div>
                    <p></p>
                    {{ if lt .challenge.Status 4 }}
                        <span class="time-remaining"></span>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        {{ $userkey := .userkey }}
        {{ range $goal := .goals }}
            {{ $mm := decodeGoal $userkey "@@{ISO639-1}" $goal nil true }}
            <div class="box">
                {{ if $mm.Text }}
                    <div class="line1">{{ $mm.Text }}</div>
                    <div class="line2"><img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ $mm.Label }} </div>
                {{ else }}
                    {{ $mm.Label }}
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ $challAccess := .challenge.Access }}
{{ if .selfChallenge }}
    <form>
        <h4>@@{add-approbators}{{ if eq $challAccess 2 }} / @@{send-invitations}{{ end }}</h4>
        <input type="text" name="ident" placeholder="@@{name-id}" title="@@{search-title}" />
        <input style="padding:2px 5px" type="submit" value="@@{search}" />
    </form>

    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">
        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <button type="submit" value="{{ index $act 0 }}" name="{{ $uid }}-participant">{{ index $act 1 }}</button>
        {{ end }}
        <table class="sortable">
            <tr><th>@@{result}</th><th>@@{nb-created-challenges}</th><th>@@{participations}</th></tr>
                {{ range $result := .searchResults }}
                <tr class="item">
                    <td sorttable_customkey="{{ $result.SimplifiedName }}">
                        <a href="/user/{{ $result.ID }}">
                        <img class="avatar" src="{{ $result.Avatar.String }}">
                        <span class="name">{{ $result.Name }}</span>
                        </a>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    <td>
                        <input name="{{ $result.ID }}-validator" type=submit value="+ @@{approbator}"/>
                        {{ if eq $challAccess 2 }}
                            <br><input name="{{ $result.ID }}-invitation" type=submit value="+ @@{guest}"/>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
            {{ if gt $challAccess 0 }}
                <tr><th>{{ if eq $challAccess 2 }}@@{guest}{{ else }}@@{requestor}{{ end }}</th><th>Défis créés</th><th>Participations</th></tr>
                {{ range $invit := .invitations }}
                    <tr class="item">
                        <td sorttable_customkey="{{ $invit.SimplifiedName }}">
                            <a href="/user/{{ $invit.ID }}">
                            <img class="avatar" src="{{ $invit.Avatar.String }}">
                            <span class="name">{{ $invit.Name }}</span>
                            </a>
                        </td>
                        <td>{{ .CreationCount }}</td>
                        <td>{{ .ParticipationCount }}</td>
                        <td>
                            <input name="{{ $invit.ID }}-invitation" type=submit value="x"/>
                            {{ if eq $challAccess 1 }}
                                <input name="{{ $invit.ID }}-invitation" type=submit value="✓"/>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
{{ else }}
    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">

        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <button type="submit" value="{{ index $act 0 }}" name="{{ $uid }}-participant">{{ index $act 1 }}</button>
        {{ end }}
        <table class="sortable">
{{ end }}
{{ $selfChall := .selfChallenge }}
            <tr><th>@@{approbator}</th><th>@@{nb-created-challenges}</th><th>@@{participations}</th></tr>
            {{ range $approb := .validators }}
                <tr class="item">
                    <td sorttable_customkey="{{ $approb.SimplifiedName }}">
                        <a href="/user/{{ $approb.ID }}">
                        <img class="avatar" src="{{ $approb.Avatar.String }}">
                        <span class="name">{{ $approb.Name }}</span>
                        </a>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    {{ if $selfChall }}
                        <td>
                            <input name="{{ $approb.ID }}-validator" type=submit value="x"/>
                        </td>
                    {{ end }}
                </tr>
            {{ end }}
            <tr><th>@@{participant}</th><th>@@{nb-created-challenges}</th><th>@@{participations}</th></tr>
            {{ range $partic := .participants }}
                <tr class="item">
                    <td sorttable_customkey="{{ $partic.SimplifiedName }}">
                        <a href="/user/{{ $partic.ID }}">
                        <img class="avatar" src="{{ $partic.Avatar.String }}">
                        <span class="name">{{ $partic.Name }}</span>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    {{ if $selfChall }}
                        {{ if gt $challAccess 0 }}
                            <td>
                                <input name="{{ $partic.ID }}-participant" type=submit value="x"/>
                            </td>
                        {{ end }}
                    {{ end }}
                </tr>
            {{ end }}
        </table>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/date_format.js"></script>
    <script>
        const startDateInput = $('[name=start_date]');

        {{ if .challenge.StartDate.Valid }}
            const startDate = new Date("{{ .challenge.StartDate.String }}Z").toLocaleString('sv').substring(0, 16);
            startDateInput.val(startDate);
            endDateInput.prop('min', startDate);
            const sdd = new Date(startDate);
            const p = $('.box p').first();
            p.text(sdd.toLocaleString());
            let rem = Math.round((sdd.getTime() - Date.now())/1000);
            if(rem < 24*60*60) {
                const sp = p.siblings('span');
                const it = setInterval(() => {
                    rem--;
                    if(rem <= 0) {
                        clearInterval(it);
                        window.location.reload();
                    }
                    sp.text(decomposeTemps(rem));
                }, 1000);
            }
        {{ else }}
            endDateInput.parent().prop('title', "@@{start-date-must-be-set}").children('[name]').prop('disabled', true);
        {{ end }}

        {{ if .challenge.EndDate.Valid }}
            const endDate = new Date("{{ .challenge.EndDate.String }}Z").toLocaleString('sv').substring(0, 16);
            startDateInput.prop('max', endDate);
            endDateInput.val(endDate);
            $('.box p').last().text(new Date(endDate).toLocaleString());
        {{ end }}

        setupDateReactions(startDateInput, '@@{start-now}', 'start-now', '@@{challenge-start-warning}', '@@{validate}');
    </script>
    {{ if .faq }}
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-desc-invite}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
</html>
