<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
    <style>h2{margin-top: 3em;}</style>
</head>
<body>
    {{template "@@{ISO639-1}_top-bar.html" . }}
    {{ if eq "" .user.Name }}
    <h2>@@{player-not-found}</h2>
    {{ else }}
    <table>
        <tr>
            <th>@@{player}</th>
            <th>@@{nb-created-challenges}</th>
            <th>@@{participations}</th>
        </tr>
        <tr>
            <td>
                <a href="https://myhordes.eu/jx/soul/{{ .user.ID }}" title="@@{see-on-mh}">
                    <img class="avatar" src="{{ .user.Avatar.String }}">
                    <span class="name">{{ .user.Name }}</span>
                </a>
            </td>
            <td>{{ .user.CreationCount }}</td>
            <td>{{ .user.ParticipationCount }}</td>
        </tr>
    </table>
    
    <h2>@@{challenge-as}
        <select id=type>
            <option>*</option>
            {{ $roles := getRoles "@@{ISO639-1}" }}
            {{ range $r := $roles }}
            <option>{{ $r }}</option>
            {{ end }}
        </select>
    </h2>
    {{template "@@{ISO639-1}_challenge-table.html" .challenges }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/table_filter.js"></script>
    <script src="/script/user_filter.js"></script>
    {{ end }}
    {{ if .faq }}
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '@@{discord-main}',
            color: '#371a13',
            glyph: ["/question.svg", "100%"]
        })
    </script>
    {{ end }}
</body>
</html>
