
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/recruit.css">
    <link rel="stylesheet" href="/style/text-input.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "top-bar.html" . }}
    <h2>{{ .challenge.Name }}</h2>
    <div class="container">
        <a class="box" href="/user/{{ .challenge.Creator.ID }}">
            <div class="line1">Par</div>
            <div class="line2">
                <img class="avatar" src="{{ .challenge.Creator.Avatar.String }}">
                <span class="name">{{ .challenge.Creator.Name }}</span>
            </div>
        </a>
        <div class="box">
            <div class="line1">Début</div>
            <p></p>
        </div>
        {{ if .selfChallenge }}
            <script>
                function dateToISOGMT(e) {
                    const input = $(e).children('[type="datetime-local"]');
                    input.val(new Date(input.val()).toISOString().substring(0, 16));
                }
            </script>
            <form class="box" method="POST" action="{{ .challenge.ID }}/date{{ .ident }}" onsubmit="dateToISOGMT(this)">
                <div class="line1">Fin</div>
                <input class="line2" name="end_date" step="60" type="datetime-local" style="margin:0.5em"/>
                <input type="submit" name="valider" value="Valider">
            </form>
        {{ else }}
            {{ if .challenge.EndDate.Valid }}
                <div class="box">
                    <div class="line1">Fin</div>
                    <p></p>
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        {{ $userkey := .userkey }}
        {{ $goalHeaders := mkmap }}
        {{ range $goal := .goals }}
            {{ $mm := decodeGoal $userkey $goal $goalHeaders }}
            <div class="box">
                {{ if $mm.Text }}
                    <div class="line1">{{ $mm.Text }}</div>
                    <div class="line2"><img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ $mm.Label }} </div>
                {{ else }}
                    {{ $mm.Label }}
                {{ end }}
            </div>
        {{ end }}
    </div>
    {{ if .selfChallenge }}
        <form method="post" action="{{ .challenge.ID }}/scan" style="margin: 4em auto 0 auto;display: block;">
            <input type="submit" name="scan" value="Scanner les participants"/>
        </form>
    {{ end }}
    <table class="sortable">
        <tr><th>Participants</th>{{ range $_, $goalHeader := $goalHeaders }}<th>{{ $goalHeader.Content }}</th>{{ end }}
        {{ range $partic := .advancement }}
            <tr class="item">
                <td sorttable_customkey="{{ $partic.SimplifiedName }}">
                    <a href="/user/{{ $partic.ID }}">
                    <img class="avatar" src="{{ $partic.Avatar.String }}">
                    <span class="name">{{ $partic.Name }}</span>
                    </a>
                </td>
                {{ range $k, $g := $goalHeaders }}
                    {{ $s := index $partic.Successes $k }}
                    <td title{{ if gt $s.Amount 0 }}="{{ $s.Accomplished }}" sorttable_customkey="{{ $s.Amount }}"{{end}}>
                        {{ if ne $g.Amount 0 }}
                            <img src="data:image/gif;base64,R0lGODlhEAAQAKIGA{{ if ge $s.Amount $g.Amount }}K2mTmU+Itv/cpZ6PP///4esPn5NKgAAACH5BAEAAAYALAAAAAAQABAAAAM0aLrc/jDKuQa4d0AbegeaAwSFYBYB8IwCQZjpGrSmEIvz+97NWJ48BseTCjksGBBlyVwmAAA7{{ else }}GU+Ip0mBLVcQoAyE86Sgf///35NKgAAACH5BAEAAAYALAAAAAAQABAAAAMmaLrc/jDKSSG4V4IhQhhABAgF0YVWQHgB+gBBd4oDC2qYW+18DyUAOw=={{ end }}" />
                        {{ end }}
                        {{ if ne $g.Amount 1 }}
                            {{ $s.Amount }}
                        {{ end }}
                    </td>
                {{ end }}
            </tr>
        {{ end }}
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script>
        $('td[title]').each((i, e) => {
            const d = e.title;
            if(d) {
                const dd = new Date(d+'Z');
                e.setAttribute("sorttable_customkey", e.getAttribute("sorttable_customkey") + (""+(Date.now() - dd.getTime())).padStart(15, '0'));
                e.title = dd.toLocaleString() + ',' + dd.getMilliseconds()/10;
            } else {
                e.title = "Jamais réalisé"
            }
        });

        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };

        const endDateInput = $('[name=end_date]');

        const startDate = new Date("{{ .challenge.StartDate.String }}Z")
        endDateInput.prop('min', startDate.toLocaleString('sv').substring(0, 16));
        $('.box p').first().text(startDate.toLocaleString());

        {{ if .challenge.EndDate.Valid }}
            const endDate = new Date("{{ .challenge.EndDate.String }}Z").toLocaleString('sv').substring(0, 16)
            if(endDateInput.length) {
                endDateInput.val(endDate);
            } else {
                $('.box p').last().text(new Date(endDate).toLocaleString());
            }
        {{ end }}

        endDateInput.on('change', function () {
            if(!this.value || new Date(this.value) < new Date()) {
                endDateInput.siblings('input').val('Terminer maintenant');
                endDateInput.parent().attr('onsubmit', "return confirm('Confirmer la fin du défi')");
            } else {
                endDateInput.siblings('input').val('Valider');
                endDateInput.parent().attr('onsubmit', "dateToISOGMT(this)");
            }
        }).trigger('change');

        function decomposeTemps(duree) {
            return `~ ${Math.floor(duree / 3600).padStart(2, '0')}:${Math.floor((duree % 3600) / 60).padStart(2, '0')}:${(duree % 60).padStart(2, '0')}`;
        }
    </script>
</body>
</html>
