<table class="sortable">
    <tr>
        <td></td>
        <td></td>
        <td>
            <select>
                <option>*</option>
                {{ $access := getAccess }}
                {{ range $a := $access }}
                <option>{{ index $a 0 }}</option>
                {{ end }}
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                <option>Oui</option>
                <option>Non</option>
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                {{ $status := getStatus }}
                {{ range $s := $status }}
                <option>{{ index $s 0 }}</option>
                {{ end }}
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Createur</th>
        <th class="sorttable_alpha">Défi</th>
        <th>Accès</th>
        <th>Privé</th>
        <th>Status</th>
        <th>Inscrits</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Informations</th>
    </tr>
    {{ range $challdata := . }}
    <tr class="item" onclick="document.location='/challenge/{{ $challdata.ID }}'">
        <td sorttable_customkey="{{ $challdata.Creator.SimplifiedName.String }}" title="{{ $challdata.Role }}"><img class="avatar" src="{{ $challdata.Creator.Avatar.String }}"><span class="name">{{ $challdata.Creator.Name.String }}</span></td>
        <td style="padding-left: 3em;padding-right: 3em;">{{ $challdata.Name }}</td>
        <td sorttable_customkey="{{ $challdata.Access }}"><img title="{{ index (index $access $challdata.Access) 0 }}" src="data:image/png;base64, {{ index (index $access $challdata.Access) 1 }}"/></td>
        <td>{{ if $challdata.Private }}<img title=Oui src="https://myhordes.eu/build/images/professions/vest.dab68fee.gif" />{{ else }}<img title=Non alt=Non />{{ end }}</td>
        <td sorttable_customkey="{{ $challdata.Status }}"><img title="{{ index (index $status $challdata.Status) 0 }}" src="data:image/png;base64, {{ index (index $status $challdata.Status) 1 }}"/></td>
        <td>{{ $challdata.ParticipantCount }}</td>
        <td sorttable_customkey="{{ $challdata.StartDate.String }}" style="min-width:9em">{{ fDate $challdata.StartDate.String }}</td>
        <td sorttable_customkey="{{ $challdata.EndDate.String }}" style="min-width:9em">{{ fDate $challdata.EndDate.String }}</td>
        <td>truc</td>
    </tr>
    {{ end }}
</table>
