
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/recruit.css">
    <link rel="stylesheet" href="/style/text-input.css">
    <script src="/script/sorttable.js"></script>
</head>
<body>
    {{ template "top-bar.html" . }}
    <h2>{{ .challenge.Name }}</h2>
    <div class="container">
        <a class="box" href="/user/{{ .challenge.Creator.ID }}">
            <div class="line1">Par</div>
            <div class="line2">
                <img class="avatar" src="{{ .challenge.Creator.Avatar.String }}">
                <span class="name">{{ .challenge.Creator.Name }}</span>
            </div>
        </a>
        {{ if .selfChallenge }}
            <form class="box" method="POST" action="{{ .challenge.ID }}/date" onsubmit="dateToISOGMT(this)">
                <div class="line1">Début</div>
                <input class="line2" name="start_date" step="any" type="datetime-local" value="{{ .challenge.StartDate }}" style="margin:0.5em"/>
                <input type="submit" name="valider" value="Valider">
            </form>
            <form class="box" method="POST" action="{{ .challenge.ID }}/date" onsubmit="dateToISOGMT(this)">
                <div class="line1">Fin</div>
                <input class="line2" name="end_date" step="any" type="datetime-local" value="{{ .challenge.EndDate }}" required style="margin:0.5em"/>
                <input type="submit" name="valider" value="Valider">
            </form>
        {{ else }}
            {{ if .challenge.StartDate.Valid }}
                <div class="box">
                <div class="line1">Début</div>
                <p>
                    {{ .challenge.StartDate.String }}
                    {{ if .remaining }}
                        <br><span class="time-remaining" data-rem="{{ .remainingsec }}">~{{ .remaining }}</span>
                    {{ end }}
                </p>
                </div>
            {{ end }}
            {{ if .challenge.EndDate.Valid }}
                <div class="box">
                <div class="line1">Début</div>
                <p>
                    {{ .challenge.EndDate.String }}
                    {{ if .remaining }}
                        <br><span class="time-remaining" data-rem="{{ .remainingsec }}">~{{ .remaining }}</span>
                    {{ end }}
                </p>
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        {{ $userkey := .userkey }}
        {{ range $goal := .goals }}
            {{ $mm := decodeGoal $userkey $goal }}
            <div class="box">
                <div class="line1">{{ $mm.Text }}</div>
                <div class="line2"><img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ $mm.Label }} </div>
            </div>
        {{ end }}
    </div>
{{ $challAccess := .challenge.Access }}
{{ if .selfChallenge }}
    <form>
        <h4>Ajouter des approbateurs{{ if eq $challAccess 2 }} / Envoyer des invitations {{ end }}</h4>
        <input type="text" name="ident" placeholder="Nom ID" title="Entrer une liste de noms ou d'ids séparés par des espaces" />
        <input style="padding:2px 5px" type="submit" value="Chercher" />
    </form>

    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">
        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <input type="submit" value="{{ $act }}" name="{{ $uid }}-participant" />
        {{ end }}
        <table class="sortable">
            <tr><th>Résultats</th><th>Défis créés</th><th>Défis participés</th></tr>
            {{ range $result := .searchResults }}
                <tr class="item" onclick="document.location='/user/{{ $result.ID }}';">
                    <td sorttable_customkey="{{ $result.SimplifiedName }}">
                        <img class="avatar" src="{{ $result.Avatar.String }}">
                        <span class="name">{{ $result.Name }}</span>
                    </td>
                    <td>%d</td>
                    <td>%d</td>
                    <td onclick="childClick(event)">
                        <input name="{{ $result.ID }}-validator" type=submit value="+ Approbateur"/>
                        {{ if eq $challAccess 2 }}
                            <br><input name="{{ $result.ID }}-invitation" type=submit value="+ Invité"/>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
            {{ if gt $challAccess 0 }}
                <tr><th>{{ "Postulants" }}</th><th>Défis créés</th><th>Défis participés</th></tr>
                {{ range $invit := .invitations }}
                    <tr class="item" onclick="document.location='/user/{{ $invit.ID }}';">
                        <td sorttable_customkey="{{ $invit.SimplifiedName }}">
                            <img class="avatar" src="{{ $invit.Avatar.String }}">
                            <span class="name">{{ $invit.Name }}</span>
                        </td>
                        <td>%d</td>
                        <td>%d</td>
                        <td onclick="childClick(event)">
                            <input name="{{ $invit.ID }}-invitation" type=submit value="x"/>
                            {{ if eq $challAccess 1 }}
                                <input name="{{ $invit.ID }}-invitation" type=submit value="✓"/>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
{{ else }}
    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">

        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <input type="submit" value="{{ $act }}" name="{{ $uid }}-participant" />
        {{ end }}
        <table class="sortable">
{{ end }}
{{ $selfChall := .selfChallenge }}
            <tr><th>Approbateurs</th><th>Défis créés</th><th>Défis participés</th></tr>
            {{ range $approb := .validators }}
                <tr class="item" onclick="document.location='/user/{{ $approb.ID }}';">
                    <td sorttable_customkey="{{ $approb.SimplifiedName }}">
                        <img class="avatar" src="{{ $approb.Avatar.String }}">
                        <span class="name">{{ $approb.Name }}</span>
                    </td>
                    <td>%d</td>
                    <td>%d</td>
                    {{ if $selfChall }}
                        <td onclick="childClick(event)">
                            <input name="{{ $approb.ID }}-validator" type=submit value="x"/>
                        </td>
                    {{ end }}
                </tr>
            {{ end }}
            <tr><th>Participants</th><th>Défis créés</th><th>Défis participés</th></tr>
            {{ range $partic := .participants }}
                <tr class="item" onclick="document.location='/user/{{ $partic.ID }}';">
                    <td sorttable_customkey="{{ $partic.SimplifiedName }}">
                        <img class="avatar" src="{{ $partic.Avatar.String }}">
                        <span class="name">{{ $partic.Name }}</span>
                    </td>
                    <td>%d</td>
                    <td>%d</td>
                    {{ if $selfChall }}
                        {{ if gt $challAccess 0 }}
                            <td onclick="childClick(event)">
                                <input name="{{ $partic.ID }}-participant" type=submit value="x"/>
                            </td>
                        {{ end }}
                    {{ end }}
                </tr>
            {{ end }}
        </table>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/recruit.js"></script>
</body>
</html>
