<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/creation.css">
    <script>
        {{ .srvData }}
    </script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "top-bar.html" . }}
    <form method="POST" style="width:fit-content">
        <table>
            <tr>
                <td><label>{{ translate .ctx "name" }}</label></td>
                <td><input type="text" name="name" maxlength="64" autocomplete="off" {{ if .challenge }} value="{{ .challenge.Name }}" {{ end }} required/></td>
            </tr>
            <tr>
                <td><label>Participation</label></td>
                <td>
                    <select name="participation">
                        <option value="0">Ouvert à tous</option>
                        <option value="1">Sur demande</option>
                        <option value="2">Sur invitation</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Visibilité</label></td>
                <td>
                    <select name="privat">
                        <option value="0">Public</option>
                        <option value="1" title="Les défis privés sont uniquement visible par les provocateurs et les participants">Privé</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Objectifs</label></td>
                <td>
                    <div id="all-goals">
                    </div>
                    <img src="https://myhordes.eu/build/images/icons/small_more.6bbc2bc2.gif" id="more"/>
                </td>
            </tr>
            <tr>
                <td><label>Modes de validation</label></td>
                <td>
                    <label for="validation_api" class="checklabel"><input type="checkbox" name="validation_api" value="1" id="validation_api" checked/>API</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="act" value="Enregistrer"/>
                    <input type="submit" name="act" value="Valider"/>
                    <input type="submit" name="act" value="Modifier"/>
                    <input type="submit" name="act" value="Ouvrir les inscriptions"/>
                </td>
            </tr>
        </table>
    </form>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '1254732352161316905',
            color: '#371a13',
            glyph: ["data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0ibm9uZSI+PGc+PHRpdGxlPkxheWVyIDE8L3RpdGxlPjxwYXRoIGlkPSJzdmdfMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iI2YwZDc5ZSIgZD0ibTExLjk2NywxMi45Mzc1YzEsLTEgMiwtMS4zOTU0IDIsLTIuNWMwLC0xLjEwNDU3IC0wLjg5NTQsLTIgLTIsLTJjLTAuOTMxOSwwIC0xLjcxNSwwLjYzNzM5IC0xLjkzNywxLjVtMS45MzcsNmwwLjAxLDAiLz48L2c+PC9zdmc+", "100%"]
        })
    </script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
<script>
    const goalhtml=`{{ template "goal.html" }}`;
</script>
<script src="/script/make_challenge.js"></script>
<script>
    {{ if .challenge }}
        const goals = [{{ range .goals }}{{ dumpStruct . }},{{ end }}];
        bindFormValues({{ .challenge.Access }}, {{ .challenge.Private }}, goals, {{ .challenge.API }})
        {{ if eq .challenge.Status 0 }}
            $('[value=Modifier]').css('display', 'none');
            $('[value=\"Ouvrir les inscriptions\"]').css('display', 'none');
        {{ end }}
        {{ if eq .challenge.Status 1 }}
            $('form table *:not([type=submit])').prop('disabled', true);
            $('#more').css('cursor', 'not-allowed').prop('onclick', null).off('click');
            $('[value=Enregistrer]').css('display', 'none');
            $('[value=Valider]').css('display', 'none');
        {{ end }}
    {{ else }}
        addAGoal(false);
        $('[value=Modifier]').css('display', 'none');
        $('[value=\"Ouvrir les inscriptions\"]').css('display', 'none');
    {{ end }}
</script>
</html>
