<table class="sortable">
    <tr>
        <td></td>
        <td></td>
        <td>
            <select>
                <option>*</option>
                {{ $access := getAccess }}
                {{ range $a := $access }}
                <option>{{ $a }}</option>
                {{ end }}
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                <option>{{ translate .ctx "yes" }}</option>
                <option>{{ translate .ctx "no" }}</option>
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                {{ $status := getStatus }}
                {{ range $s := $status }}
                <option>{{ $s }}</option>
                {{ end }}
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>{{ translate .ctx "creator" }}</th>
        <th class="sorttable_alpha">{{ translate .ctx "challenge" }}</th>
        <th>{{ translate .ctx "access" }}</th>
        <th>{{ translate .ctx "private" }}</th>
        <th>{{ translate .ctx "status" }}</th>
        <th>{{ translate .ctx "registered" }}</th>
        <th>{{ translate .ctx "start" }}</th>
        <th>{{ translate .ctx "end" }}</th>
    </tr>
    {{ range $challdata := .challenges }}
    <tr class="item">
        <td sorttable_customkey="{{ $challdata.Creator.SimplifiedName }}" title="{{ $challdata.Role }}">
            <a href="/user/{{ $challdata.Creator.ID }}">
            <img class="avatar" src="{{ $challdata.Creator.Avatar.String }}">
            <span class="name">{{ $challdata.Creator.Name }}</span>
            </a>
        </td>
        <td><a class="chlg-name" href="/challenge/{{ .ID }}">{{ $challdata.Name }}</a></td>
        <td sorttable_customkey="{{ $challdata.Access }}" title="{{ index $access $challdata.Access }}"><img/></td>
        <td>{{ if $challdata.Private }}<img title={{ translate .ctx "yes" }} private />{{ else }}<img title={{ translate .ctx "no" }} alt={{ translate .ctx "no" }} />{{ end }}</td>
        <td sorttable_customkey="{{ $challdata.Status }}" title="{{ index $status $challdata.Status }}"><img/></td>
        <td>{{ $challdata.ParticipantCount }}</td>
        <td {{ if $challdata.StartDate.Valid }}sorttable_customkey="{{ $challdata.StartDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
        <td {{ if $challdata.EndDate.Valid }}sorttable_customkey="{{ $challdata.EndDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
    </tr>
    {{ end }}
</table>
