<table class="sortable">
    <tr>
        <td></td>
        <td></td>
        <td>
            <select>
                <option>*</option>
                {{ $access := getAccess }}
                {{ range $a := $access }}
                <option>{{ index $a 0 }}</option>
                {{ end }}
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                <option>Oui</option>
                <option>Non</option>
            </select>
        </td>
        <td>
            <select>
                <option>*</option>
                {{ $status := getStatus }}
                {{ range $s := $status }}
                <option>{{ index $s 0 }}</option>
                {{ end }}
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Createur</th>
        <th class="sorttable_alpha">Défi</th>
        <th>Accès</th>
        <th>Privé</th>
        <th>Status</th>
        <th>Inscrits</th>
        <th>Début</th>
        <th>Fin</th>
    </tr>
    {{ range $challdata := . }}
    <tr class="item">
        <td sorttable_customkey="{{ $challdata.Creator.SimplifiedName }}" title="{{ $challdata.Role }}">
            <a href="/user/{{ $challdata.Creator.ID }}">
            <img class="avatar" src="{{ $challdata.Creator.Avatar.String }}">
            <span class="name">{{ $challdata.Creator.Name }}</span>
            </a>
        </td>
        <td><a class="chlg-name" href="/challenge/{{ .ID }}">{{ $challdata.Name }}</a></td>
        <td sorttable_customkey="{{ $challdata.Access }}" title="{{ index $access $challdata.Access }}"><img/></td>
        <td>{{ if $challdata.Private }}<img title=Oui private />{{ else }}<img title=Non alt=Non />{{ end }}</td>
        <td sorttable_customkey="{{ $challdata.Status }}" title="{{ index $status $challdata.Status }}"><img/></td>
        <td>{{ $challdata.ParticipantCount }}</td>
        <td {{ if $challdata.StartDate.Valid }}sorttable_customkey="{{ $challdata.StartDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
        <td {{ if $challdata.EndDate.Valid }}sorttable_customkey="{{ $challdata.EndDate.String }}" class="date" style="min-width:9em"{{ end }}></td>
    </tr>
    {{ end }}
</table>
