
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <link rel="stylesheet" href="/style/recruit.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{ template "top-bar.html" . }}
    <h2>{{ .challenge.Name }}</h2>
    <div class="container">
        <a class="box" href="/user/{{ .challenge.Creator.ID }}">
            <div class="line1">Par</div>
            <div class="line2">
                <img class="avatar" src="{{ .challenge.Creator.Avatar.String }}">
                <span class="name">{{ .challenge.Creator.Name }}</span>
            </div>
        </a>
        {{ if .selfChallenge }}
            <script>
                function dateToISOGMT(e) {
                    const input = $(e).children('[type="datetime-local"]');
                    input.val(new Date(input.val()).toISOString().substring(0, 16));
                }
            </script>
            <form class="box" method="POST" action="{{ .challenge.ID }}/date{{ .ident }}" onsubmit="dateToISOGMT(this)">
                <div class="line1">Début</div>
                <input class="line2" name="start_date" step="60" type="datetime-local" style="margin:0.5em"/>
                <input type="submit" name="valider" value="Valider">
            </form>
            <form class="box" method="POST" action="{{ .challenge.ID }}/date{{ .ident }}" onsubmit="dateToISOGMT(this)">
                <div class="line1">Fin</div>
                <input class="line2" name="end_date" step="60" type="datetime-local" required style="margin:0.5em"/>
                <input type="submit" name="valider" value="Valider">
            </form>
        {{ else }}
            {{ if .challenge.StartDate.Valid }}
                <div class="box">
                    <div class="line1">Début</div>
                    <p></p>
                    {{ if lt .challenge.Status 3 }}
                        <span class="time-remaining"></span>
                    {{ end }}
                </div>
            {{ end }}
            {{ if .challenge.EndDate.Valid }}
                <div class="box">
                    <div class="line1">Fin</div>
                    <p></p>
                    {{ if lt .challenge.Status 4 }}
                        <span class="time-remaining"></span>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        {{ $userkey := .userkey }}
        {{ range $goal := .goals }}
            {{ $mm := decodeGoal $userkey "fr" $goal nil }}
            <div class="box">
                {{ if $mm.Text }}
                    <div class="line1">{{ $mm.Text }}</div>
                    <div class="line2"><img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ $mm.Label }} </div>
                {{ else }}
                    {{ $mm.Label }}
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ $challAccess := .challenge.Access }}
{{ if .selfChallenge }}
    <form>
        <h4>Ajouter des approbateurs{{ if eq $challAccess 2 }} / Envoyer des invitations {{ end }}</h4>
        <input type="text" name="ident" placeholder="Nom ID" title="Entrer une liste de noms ou d'ids séparés par des espaces" />
        <input style="padding:2px 5px" type="submit" value="Chercher" />
    </form>

    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">
        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <input type="submit" value="{{ $act }}" name="{{ $uid }}-participant" />
        {{ end }}
        <table class="sortable">
            <tr><th>Résultats</th><th>Défis créés</th><th>Participations</th></tr>
            {{ range $result := .searchResults }}
                <tr class="item">
                    <td sorttable_customkey="{{ $result.SimplifiedName }}">
                        <a href="/user/{{ $result.ID }}">
                        <img class="avatar" src="{{ $result.Avatar.String }}">
                        <span class="name">{{ $result.Name }}</span>
                        </a>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    <td>
                        <input name="{{ $result.ID }}-validator" type=submit value="+ Approbateur"/>
                        {{ if eq $challAccess 2 }}
                            <br><input name="{{ $result.ID }}-invitation" type=submit value="+ Invité"/>
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
            {{ if gt $challAccess 0 }}
                <tr><th>{{ "Postulants" }}</th><th>Défis créés</th><th>Participations</th></tr>
                {{ range $invit := .invitations }}
                    <tr class="item">
                        <td sorttable_customkey="{{ $invit.SimplifiedName }}">
                            <a href="/user/{{ $invit.ID }}">
                            <img class="avatar" src="{{ $invit.Avatar.String }}">
                            <span class="name">{{ $invit.Name }}</span>
                            </a>
                        </td>
                        <td>{{ .CreationCount }}</td>
                        <td>{{ .ParticipationCount }}</td>
                        <td>
                            <input name="{{ $invit.ID }}-invitation" type=submit value="x"/>
                            {{ if eq $challAccess 1 }}
                                <input name="{{ $invit.ID }}-invitation" type=submit value="✓"/>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
{{ else }}
    <form method="POST" action="{{ .challenge.ID }}/members{{ .ident }}" style="width: fit-content;">

        {{ $uid := .selfID }}
        {{ range $act := .action }}
            <input type="submit" value="{{ $act }}" name="{{ $uid }}-participant" />
        {{ end }}
        <table class="sortable">
{{ end }}
{{ $selfChall := .selfChallenge }}
            <tr><th>Approbateurs</th><th>Défis créés</th><th>Participations</th></tr>
            {{ range $approb := .validators }}
                <tr class="item">
                    <td sorttable_customkey="{{ $approb.SimplifiedName }}">
                        <a href="/user/{{ $approb.ID }}">
                        <img class="avatar" src="{{ $approb.Avatar.String }}">
                        <span class="name">{{ $approb.Name }}</span>
                        </a>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    {{ if $selfChall }}
                        <td>
                            <input name="{{ $approb.ID }}-validator" type=submit value="x"/>
                        </td>
                    {{ end }}
                </tr>
            {{ end }}
            <tr><th>Participants</th><th>Défis créés</th><th>Participations</th></tr>
            {{ range $partic := .participants }}
                <tr class="item">
                    <td sorttable_customkey="{{ $partic.SimplifiedName }}">
                        <a href="/user/{{ $partic.ID }}">
                        <img class="avatar" src="{{ $partic.Avatar.String }}">
                        <span class="name">{{ $partic.Name }}</span>
                    </td>
                    <td>{{ .CreationCount }}</td>
                    <td>{{ .ParticipationCount }}</td>
                    {{ if $selfChall }}
                        {{ if gt $challAccess 0 }}
                            <td>
                                <input name="{{ $partic.ID }}-participant" type=submit value="x"/>
                            </td>
                        {{ end }}
                    {{ end }}
                </tr>
            {{ end }}
        </table>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };

        const startDateInput = $('[name=start_date]');
        const endDateInput = $('[name=end_date]');

        {{ if .challenge.StartDate.Valid }}
            const startDate = new Date("{{ .challenge.StartDate.String }}Z").toLocaleString('sv').substring(0, 16)
            startDateInput.val(startDate);
            endDateInput.prop('min', startDate);
            const sdd = new Date(startDate);
            const p = $('.box p').first();
            p.text(sdd.toLocaleString());
            let rem = Math.round((sdd.getTime() - Date.now())/1000);
            if(rem < 24*60*60) {
                const sp = p.siblings('span');
                const it = setInterval(() => {
                    rem--;
                    if(rem <= 0) {
                        clearInterval(it);
                        window.location.reload();
                    }
                    sp.text(decomposeTemps(rem));
                }, 1000);
            }
        {{ else }}
            endDateInput.parent().prop('title', "Une date de début doit d'abord être renseignée").children('input').prop('disabled', true)
        {{ end }}

        {{ if .challenge.EndDate.Valid }}
            const endDate = new Date("{{ .challenge.EndDate.String }}Z").toLocaleString('sv').substring(0, 16)
            startDateInput.prop('max', endDate);
            endDateInput.val(endDate);
            $('.box p').last().text(new Date(endDate).toLocaleString());
        {{ end }}

        startDateInput.on('change', function () {
            if(!this.value || new Date(this.value) < new Date()) {
                startDateInput.siblings('input').val('Démarrer maintenant');
                startDateInput.parent().attr('onsubmit', "return confirm('Le lancement du défi empechera toute modification, hormis la date de fin')");
            } else {
                startDateInput.siblings('input').val('Valider');
                startDateInput.parent().attr('onsubmit', "dateToISOGMT(this)");
            }
        }).trigger('change');

        function decomposeTemps(duree) {
            return `~ ${Math.floor(duree / 3600).padStart(2, '0')}:${Math.floor((duree % 3600) / 60).padStart(2, '0')}:${(duree % 60).padStart(2, '0')}`;
        }
    </script>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '1254732301867417703',
            color: '#371a13',
            glyph: ["data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0ibm9uZSI+PGc+PHRpdGxlPkxheWVyIDE8L3RpdGxlPjxwYXRoIGlkPSJzdmdfMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iI2YwZDc5ZSIgZD0ibTExLjk2NywxMi45Mzc1YzEsLTEgMiwtMS4zOTU0IDIsLTIuNWMwLC0xLjEwNDU3IC0wLjg5NTQsLTIgLTIsLTJjLTAuOTMxOSwwIC0xLjcxNSwwLjYzNzM5IC0xLjkzNywxLjVtMS45MzcsNmwwLjAxLDAiLz48L2c+PC9zdmc+", "100%"]
        })
    </script>
</body>
</html>
