<select name="type">
    <option value="0">{{ translate . "stack-picto" }}</option>
    <option value="1">{{ translate . "be-on" }}</option>
    <option value="2">{{ translate . "build" }}</option>
    <option value="3">{{ translate . "have-in-bank" }}</option>
    <option value="4">{{ translate . "custom-goal" }}</option>
    <option value="5">{{ translate . "delete-goal" }}</option>
</select>
<div style="margin:0.4em 0 1em 0">
    <input class="eslc" type="number" name="x" placeholder="X" min="-25" max="25" step="1" style="margin-bottom:0.4rem"/>
    <input class="eslc" type="number" name="y" placeholder="Y" min="-25" max="25" step="1"/> 
    <span  class="eslc" style="vertical-align:sub">{{ translate . "with" }}</span>
    <br    class="eslc">
    <input class="alp eslc aeb" type="number" name="count" min="1" step="1" title="{{ translate . "empty-desc" }}"/>
    <img   class="alp eslc c aeb" id="goal-img"/> 
    <select class="alp eslc c aeb goal-list" style="width:11em"></select>
    <input class="alp eslc c aeb" id="goal-value" type="hidden" name="val"/>
    <input class="p" type="text" name="custom" maxlength="128"/>
</div>