<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
</head>
<body>
    {{template "top-bar.html" . }}
    {{template "challenge-table.html" .challenges }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/table_filter.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '1254191087883649137',
            color: '#371a13',
            glyph: ["data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0ibm9uZSI+PGc+PHRpdGxlPkxheWVyIDE8L3RpdGxlPjxwYXRoIGlkPSJzdmdfMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iI2YwZDc5ZSIgZD0ibTExLjk2NywxMi45Mzc1YzEsLTEgMiwtMS4zOTU0IDIsLTIuNWMwLC0xLjEwNDU3IC0wLjg5NTQsLTIgLTIsLTJjLTAuOTMxOSwwIC0xLjcxNSwwLjYzNzM5IC0xLjkzNywxLjVtMS45MzcsNmwwLjAxLDAiLz48L2c+PC9zdmc+", "100%"]
        })
    </script>
</body>
</html>
