<style>
    #top-bar {
        margin-bottom: 4em;
    }

    #top-bar > * {
        margin: 0 4px 0 4px;
        display: inline-block;
    }
</style>
<div id="top-bar">
    <a href="/">{{ translate .ctx "home" }}</a>
    {{ if .logged }}
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="{{ translate .ctx "update" }}" style="font-size:1rem">
        <input type="hidden" name="redirect">
        <script>document.getElementsByName("redirect").item(0).value=window.location.href</script>
    </form>
    <a href="/challenge">{{ translate .ctx "create-challenge" }}</a>
    <a href="/user">{{ translate .ctx "profile" }}</a>
    <a href="/validation">{{ translate .ctx "validations" }}</a>
    <a href="/logout">{{ translate .ctx "logout" }}</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">{{ translate .ctx "login" }}</a>
    {{ end }}
</div>
<a class="chlg-name" style="position: absolute; right: 0; top: 0; font-size: 80%;" href="https://myhordes.eu/jx/soul/1251">{{ translate .ctx "mh-contact" }}</a>
<a class="chlg-name" style="position: absolute; right: 0; top: 1.5em; font-size: 80%;" href="mailto:bhordesgames@alwaysdata.net">{{ translate .ctx "email" }}</a>
