<style>
    #top-bar {
        margin-bottom: 4em;
    }

    #top-bar > * {
        margin: 0 4px 0 4px;
        display: inline-block;
    }
</style>
<div id="top-bar">
    <a href="/">Accueil</a>
    {{ if .logged }}
    <a href="/view/creation.php">Créer un défi</a>
    <a href="/view/validation.php">Validations (5)</a>
    <a href="/view/user.php">Mon palmarès</a>
    <a href="/view/user.php?selection=Invit%C3%A9">Invitations en attente</a>
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="MAJ mes infos" style="font-size:1rem">
    </form>
    <a href="/logout">Me déconnecter</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">Me connecter</a>
    {{ end }}
</div>