<style>
    #top-bar {
        margin-bottom: 4em;
    }

    #top-bar > * {
        margin: 0 4px 0 4px;
        display: inline-block;
    }
</style>
<div id="top-bar">
    <a href="/">Accueil</a>
    {{ if .logged }}
    <form method="post" action="/user">
        <input type="submit" name="refresh" value="Mise à jour" style="font-size:1rem">
        <input type="hidden" name="redirect">
        <script>document.getElementsByName("redirect").item(0).value=window.location.href</script>
    </form>
    <a href="/challenge">Créer un défi</a>
    <a href="/user">Profil</a>
    <a href="/validation">Validations</a>
    <a href="/logout">Déconnexion</a>
    {{ else }}
    <a href="https://myhordes.eu/jx/disclaimer/26">Connexion</a>
    {{ end }}
</div>
<a class="chlg-name" style="position: absolute; right: 0; top: 0; font-size: 80%;" href="https://myhordes.eu/jx/soul/1251">Contact MH</a>
<a class="chlg-name" style="position: absolute; right: 0; top: 10%; font-size: 80%;" href="mailto:bhordesgames@alwaysdata.net">Email</a>
