<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/table.css">
    <script src="/script/sorttable.js"></script>
    <title>β'Hordes Games</title>
    <style>h2{margin-top: 3em;}</style>
</head>
<body>
    {{template "top-bar.html" . }}
    {{ if eq "" .user.Name }}
    <h2>{{ translate .ctx "player-not-found" }}</h2>
    {{ else }}
    <table>
        <tr>
            <th>{{ translate .ctx "player" }}</th>
            <th>{{ translate .ctx "created-challenge" }}</th>
            <th>{{ translate .ctx "participations" }}</th>
        </tr>
        <tr>
            <td><img class="avatar" src="{{ .user.Avatar.String }}"><span class="name">{{ .user.Name }}</span></td>
            <td>{{ .user.CreationCount }}</td>
            <td>{{ .user.ParticipationCount }}</td>
        </tr>
    </table>
    
    <h2>{{ translate .ctx "challenge-as" }}
        <select id=type>
            <option>*</option>
            <option>{{ translate .ctx "participant" }}</option>
            <option>{{ translate .ctx "creator" }}</option>
            <option>{{ translate .ctx "approbator" }}</option>
            <option>{{ translate .ctx "requestor" }}</option>
            <option>{{ translate .ctx "guest" }}</option>
        </select>
    </h2>
    {{template "challenge-table.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script src="/script/table_filter.js"></script>
    <script src="/script/user_filter.js"></script>
    {{ end }}
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '{{ translate .ctx "discord-main" }}',
            color: '#371a13',
            glyph: ["/question-mark.svg", "100%"]
        })
    </script>
</body>
</html>
