<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style/theme.css">
    <link rel="stylesheet" href="/style/validation.css">
</head>
<body>
    {{ $ctx := .ctx }}
    {{ $userkey := .userkey }}
    {{ $i := 0 }}
    {{ template "top-bar.html" . }}
    {{ $validations := .validations }}
    {{ range $challenge := .order }}
        {{ $verif := index $validations $challenge.ID }}
        <section>
            <h2><a class="chlg-name" href="/challenge/{{ $challenge.ID }}">{{ $challenge.Name }}</a></h2>
            <button>⟱ ⟱ ⟱</button>
            <div class="timeline">{{ if $challenge.EndDate.Valid }}{{ translate $ctx "end" }} : <span class="utcdate">{{ $challenge.EndDate.String }}</span>{{ else }}{{ translate $ctx "running" }}{{ end }}</div>
            <ul class='timeline'>
                {{ range $mile := $verif }}
                    <li class='work'>
                        {{ $i = incr $i }}
                        <input class='radio' id=work{{$i}} name='works' type='radio' checked>
                        <div class="relative">
                            <span class="recap">
                                <label for=work{{$i}} class="name">{{ $mile.Milestone.User.Name }}</label>
                            </span>
                            <span class='date'>{{ $mile.Milestone.Dt }}</span>
                            <label for=work{{$i}} class='circle' style="background: #7e4d2a url('{{ $mile.Milestone.User.Avatar.String }}') center"></label>
                        </div>
                        <div class='content'>
                            <p>
                                {{ dumpMile $mile.Milestone $userkey }}
                            </p>
                            <table>
                                <form action="/validation" method="post">
                                    <tr><th>{{ translate $ctx "goals" }}</th><th>{{ translate $ctx "previous" }}</th><th>{{ translate $ctx "current" }}</th></tr>
                                {{ range $goal := $mile.Goals }}
                                    {{ $mm := decodeGoal $userkey $goal.Goal nil }}
                                    <tr>
                                        <td>{{ $mm.Text }}<br><img src="https://myhordes.eu/build/images/{{ $mm.Icon }}">{{ $mm.Label }}</td>
                                        <td>{{ $goal.Previous.Int32 }}</td>
                                        <td><input name="{{ $goal.ID }}" type="number" min="0" {{if $goal.Amount.Valid }}max="{{ $goal.Amount.Int32 }}"{{end}} {{if $goal.Success.Valid }}value="{{ $goal.Success.Int32 }}"{{ end }}/></td>
                                    </tr>
                                {{ end }}
                                    <tr>
                                        <td colspan="3">
                                            <input type="hidden" name="user" value="{{ $mile.Milestone.User.ID }}"/>
                                            <input type="hidden" name="dt" value="{{ $mile.Milestone.Dt }}"/>
                                            <input type="submit" />
                                        </td>
                                    </tr>
                                </form>
                            </table>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script>
        $('span.date').each((i, e) => {
            const date = new Date(e.innerHTML+'Z');
            e.innerHTML = `${date.toLocaleDateString()}<br><span style=\"font-size:80%\">${date.toLocaleTimeString()}</span>`;
        });
        $('section button').click(event => {
            event.target.innerHTML = getComputedStyle($(event.target.parentNode).children('ul').toggle()[0]).display === "none" ? '⟱ ⟱ ⟱' : '⟰ ⟰ ⟰';
        })
        $('ul').hide()
        $('span.utcdate').each((i, e) => {
            const date = new Date(e.innerHTML+'Z');
            e.innerHTML = `${date.toLocaleDateString()}<br><span style=\"font-size:80%\">${date.toLocaleTimeString()}</span>`;
        });
    </script>
    <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
        crate = new Crate({
            server: '1253836492694880367', // B'Hordes Games
            channel: '{{ translate $ctx "discord-desc-validation" }}',
            color: '#371a13',
            glyph: ["/question-mark.svg", "100%"]
        })
    </script>
</body>
</html>
